* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100vw;
    height: 100vh;
    background-color: #8ab0fd45;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .modal {
    width: 25%;
    height: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);

}

.container .modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    
}

.container .modal form input, select {
    width: 100%;
    background: none;
    margin-bottom: 10px;
    height: 30px;
    border: 0;
    border-bottom: 0.2px solid #4881fce6;
    
}

.container .modal form button {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #0000ff;
    border-radius: 30px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: .4s linear;
}

.container .modal form button:hover {
    background: none;
    border: 1px solid #0000ff;
    color: #0000ff;
    transform: scale(1.0);
}