@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: "Poppins", sans-serif;
}

:root {
    --azul1: #8ab0fd45;
    --azul2: #4881fce6;
    --azul3: #0000ff;
    --vermelho: #ff0000;
    --vermelho2: #f86f6f;
    --branco: #ffffff;
    --verde: #008000;
    --verde0: #86e49d;
    --amarelo: #ffa500;
    --amarelo2: #ff5900fc;

}    
body {
    background-color: var(--branco);
    display: flex;
}


.terceiro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
    height: 80px;
    color: var(--branco);
    font-size: 1.3rem;
}

.terceiro .painel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.terceiro .painel form {
    margin-bottom: 5px;
}

.terceiro .painel form input{
    height: 25px;
    border: none;
    border-radius: 3px;
    padding-left: 3px;
    border: 1px solid var(--azul3);
}



/* ####### ESTILO TABELA  ########*/
/* ####### ESTILOTABELA  ########*/


main.table {
    width: 100%;
    height: 100vh;
    background-color: var(--azul1);
    backdrop-filter: blur(5px);
    overflow: hidden;

}


.table__body {
    width: 100%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    overflow: auto;
    overflow: overlay;
    
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.267);
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 38px;
    height: 38px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 0.2rem;
    text-align: left;
    font-size: 0.8rem;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--azul2);
    cursor: pointer;
    color: var(--branco);
    
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
    cursor: pointer;
}

tbody tr.hide {
    opacity: 5;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: rgba(204, 204, 204, 0.4) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody .seq{
    padding-left: 10px;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .5rem 0;
    border-radius: 2rem;
    text-align: center;
    width: 90PX;
}

/*classe das fases*/

/*FASE 1*/
.status.aguardando {
    background-color: #96dbfc;
    color: var(--azul3);
    font-size: 0.7rem;
    font-weight: bold;
}

/*FASE 2*/
.status.carregando {
    background-color: #25b6fa;
    color: var(--azul3);
    font-size: 0.7rem;
    font-weight: bold;
}

/*FASE 3*/
.status.aguard_fat {
    background-color: var(--azul2);
    color: var(--azul3);
    font-size: 0.7rem;
    font-weight: bold;
}

/*FASE 4*/
.status.faturando {
    background-color: var(--azul3);
    color: #73cffa;
    font-size: 0.7rem;
    font-weight: bold;
}

/*FAZE 5*/
.status.concluido {
    background-color: var(--verde);
    color: var(--verde0);
    font-size: 0.7rem;
    font-weight: bold;
}

/*CANCELADO*/
.status.cancelado {
    background-color: #d893a3;
    color: #b30021;
    font-size: 0.7rem;
    font-weight: bold;
}

/*ADIADO*/
.status.adiado {
    background-color: var(--amarelo);
    color: var(--amarelo2);
    font-size: 0.7rem;
    font-weight: bold;
}


/*fim das fases*/

/* ESTILO DOS GRAFICO */

.grafico {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: normal;
    background-color: var(--azul2);
    
    color:var(--azul3);
    font-weight: bold;
}

.grafico .cubtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin: 0 5px 0 5px;
}


.grafico .cubtotal .total{
    width: 95px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--branco);
    margin: 5px 2px 5px 2px;
    border-radius: 5px;
    
}

.grafico .cubtotal .total span{
    font-size: 1rem;
}


.chart-container {
    display: flex;
    position: relative;
    margin: auto;
    height: 29vh;
    width: 30vw;
    background-color: var(--branco);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
  }


.futer {
    background-color: var(--azul2);
    text-align: right;
    font-size: 0.7rem;
    color: var(--branco);
    padding-right: 10px;
}


/* ####### FIM DO ESTILO PAINEL GRÁFICO  ########*/

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}



.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}



.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}
/* ####### FIM DO ESTILO TABELA  ########*/
/* ####### FIM DO ESTILO TABELA  ########*/

.porcento{
    display: block;
}


