<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Carregamento</title>
    <!--link do bostrep-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--fim do link bootrep-->
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    
    <main class="table" id="customers_table">

        <section class="terceiro">
            <div class="painel">
                <div class="logo">
                    <img src="/static/onix.svg" alt="" id="btn_remover" style="cursor: pointer;">
                    <h1>PAINEL DE CARREGAMENTO! </h1>
                    <img src="/static/socimol.png" alt=""style="cursor: pointer;" id="btn_adicionar">
                </div>

                <form action="/remover" method="post" id="remover" class="fechar">
                    <input type="text" name="num_carrego" id="num_carrego" placeholder="carrego" style="width: 60px;">
                    <input type="text" name="fase_carrego" id="fase_carrego" placeholder="fase do carrego" style="width: 100px;">
                    <select name="opcoes" id="opcoes" required style="height: 25px; font-size: 11px; border-radius: 5px; width: 110px;">
                        <option value="">--Selecione--</option>
                        <option value="AGUARD">AGUARD</option>
                        <option value="CARREGANDO">CARREGANDO</option>
                        <option value="AGUARD_FAT">AGUARD FAT</option>
                        <option value="FATURANDO">FATURANDO</option>
                        <option value="CONCLUÍDO">CONCLUÍDO</option>
                        <option value="CANCELADO">CANCELADO</option>
                        <option value="ADIADO">ADIADO</option>
                    </select>
                    <input type="submit" name="add" style="width: 30px;" value="-">
                </form>
               
                <form action="/cadastrar" method="post" id="adicionar" class="fechar">
                    <input type="text" name="clt" id="clt" placeholder="clt" style="width: 40px;">
                    <input type="text" name="mot" id="mot" placeholder="motorista" style="width: 280px;">
                    <input type="text" name="dest" id="dest" placeholder="destino" style="width: 280px;">
                    <input type="text" name="conf" id="conf" placeholder="conferente" style="width: 100px;">
                    <input type="text" name="placa" id="placa" placeholder="placa" style="width: 80px;">
                    <input type="text" name="cub" id="cub" placeholder="cub" style="width: 40px;">
                    <input type="submit" name="add" id="add" style="width: 30px;" value="+">
                </form>
               
            </div>
        </section>
        
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> SEQ <span class="icon-arrow">&UpArrow;</span></th>
                        <th> CLT <span class="icon-arrow">&UpArrow;</span></th>
                        <th> MOTORISTA <span class="icon-arrow">&UpArrow;</span></th>
                        <th> DESTINO <span class="icon-arrow">&UpArrow;</span></th>
                        <th> CONFERENTE <span class="icon-arrow">&UpArrow;</span></th>
                        <th> PLACA <span class="icon-arrow">&UpArrow;</span></th>
                        <th> CUB <span class="icon-arrow">&UpArrow;</span></th>
                        <th> STATUS <span class="icon-arrow">&UpArrow;</span></th>
                        <th> IMG <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in registro %}
                
                    <tr>
                        <td class="seq"> {{loop.index}} </td>
                        <td> {{item[1]}} </td>
                        <td> {{item[2]}} </td>
                        <td> {{item[3]}} </td>
                        <td> {{item[4]}}</td>
                        <td> {{item[5]}}</td>
                        <td>{{item[6]}}</td>
                        <td><p class="status {{item[7]}}">{{item[8]}}</p></td>
                        <td> <img src="{{item[9]}}" alt=""></td>
                    </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </section>

    </main>

    <main class="grafico">
        <div class="cubtotal">
            <div class="total">
                <P>Total m³</P>
                <span>{{Dgrafico[0]}}</span>
            </div>
            <div class="total">
                <p>Claudino</p>
                <span>{{Dgrafico[17]}} <i class="bi bi-truck"></i></span>
            </div>
            <div class="total">
                <p>Terceiro</p>
                <span>{{Dgrafico[16]}} <i class="bi bi-truck"></i></span>
            </div>
            <div class="total">
                <p>Escoamento</p>
                <span>{{Dgrafico[18]}} <i class="bi bi-truck"></i></span>
            </div>
        </div>

        <div class="chart-container">
            <p class="title">Cubagem diária</p>
            <div id="chartdiv3"></div>
        </div>
        <div class="chart-container">
            <p class="title">Cubagem por conferente</p>
            <div id="chartdiv2"></div>
        </div>
        
        <div class="chart-container">
            <p class="title">Cubagem mensal</p>
            <div id="chartdiv"></div>
        </div>
        
        
        
    </main>
    
    <div class="porcento" style="display: none;">
        <p id="cubFabio">{{Dgrafico[1]}}</p>
        <p id="cubKassio">{{Dgrafico[2]}}</p>
        <p id="cubArimateia">{{Dgrafico[3]}}</p>
        <p id="cubVicente">{{Dgrafico[4]}}</p>
        <p id="cubCaze">{{Dgrafico[5]}}</p>
        <p id="cubZecarlos">{{Dgrafico[6]}}</p>
        <p id="cubFernando">{{Dgrafico[7]}}</p>
        <p id="cubRaione">{{Dgrafico[8]}}</p>
        <p id="cubLucas">{{Dgrafico[9]}}</p>
        <p id="porcentoTerceiro">{{Dgrafico[13]}} </p>
        <p id="porcentoClaudino">{{Dgrafico[14]}}</p>
        <p id="porcentoEscoamento">{{Dgrafico[15]}}</p>
        <p id="jan">{{graficoMes[0]}}</p>
        <p id="fev">{{graficoMes[1]}}</p>
        <p id="mar">{{graficoMes[2]}}</p>
        <p id="abr">{{graficoMes[3]}}</p>
        <p id="mai">{{graficoMes[4]}}</p>
        <p id="jun">{{graficoMes[5]}}</p>
        <p id="jul">{{graficoMes[6]}}</p>
        <p id="ago">{{graficoMes[7]}}</p>
        <p id="set">{{graficoMes[8]}}</p>
        <p id="out">{{graficoMes[9]}}</p>
        <p id="nov">{{graficoMes[10]}}</p>
        <p id="dez">{{graficoMes[11]}}</p>

    </div>

    <script src="/static/script.js"></script>
</body>
</html>